<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" user-scalable="no" />

  <meta property='og:site_name' content='Earnitz'>
  <link rel='icon' type='image/png' href='/imgs/Awo-Law-Final.png'>
<link rel='icon' sizes='192x192' href='/imgs/Awo-Law-Final.png'>
<link rel="shortcut icon" href="/imgs/Awo-Law-Final.png'" type="image/x-icon">

<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
<meta name='msapplication-square310x310logo' content='/imgs/Awo-Law-Final.png'>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


  <link rel="icon" href="/imgs/Awo-Law-Final.png" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>


  <meta name="google-site-verification" content="k9XnsRfjtBGZ2WUQl-aQCy4DGwbi9k2K_CCJXtezEmM" />
  <!-- Option 1: Include in HTML -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/stylesheet/index.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4W7V0TD6K6"></script>

</head>


    <%- include('./partials/navbar.ejs') %>
    
     

      
      <div class="content   rounded-lg " id="content-menu">

        <%- include('./partials/flash')%>

    
      </div>
    </div>

    <title>Owe Law</title>
    <meta property='og:type' content='website'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no"/>

  <meta property="og:image"  content="/imgs/Awo-Law-Final.png">
  
  <meta name="trustpilot-one-time-domain-verification-id" content="9d4468d2-b600-4b49-96d4-9e93954d33d7"/>
  <meta name="twitter:image" content="/imgs/Awo-Law-Final.png">
<span class="accountab"></span>
       <script src="/javascript/main.js"></script>

</html>

